div.doubleButton {
	text-align: center;
	margin: 20px 0px;
}

div.doubleButton button {
	height: 40px;
	border: none;
	padding: 0 15px;
	border: 3px solid black;
	font-weight: bold;
}

div.doubleButton button.one {
	border-radius: 30px 0 0 30px;
	border-right: none;
	background-color: #F34605;
}

div.doubleButton button.two {
	border-radius: 0 30px 30px 0;
	border-left: none;
	background-color: #F34605;
}

.container div.main {
	padding-top: 24px;
}

.container hr {
	width: 100%;
}

.container div.main ul{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.container div.main ul li{
	width: 45%;
	min-width: 300px;
	border-radius: 10px;
	padding: 20px;
	background-color: rgba(255, 0, 0, .8);
	margin: 20px;
	position: relative;
}

@media only screen and (max-width: 890px) {
	.container div.main ul li{
		width: 100%;
	}

}

button.check, button.edit, button.delete, button.detail {
	background-color: transparent;
	position: absolute;
	right: 10px;
	top: 10px;
	border: 0;
	color: #a8a8b3;
}

.container ul li button.delete {
	right: 40px;
}

.container ul li button.edit{
	right: 70px;
}
.container ul li button.detail{
	right: 100px;
}



button.check:hover {
	color: rgb(0, 255, 0);
}

button.edit:hover {
	color: rgb(0, 0, 255);
}

button.delete:hover {
	color: rgb(255, 0, 0);
}



.container ul li strong {
	display: block;
	margin-bottom: 8px;
	color: #41414d;
	margin-top: 16px;
}

.container ul li p{

	color: #737380;
	line-height: 21px;
	font-size: 16px;
}



/* ---------------------MODAL-------------------------------- */
.modal-container {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal {
	background: whitesmoke;
	width: 90%;
	max-width: 500px;
	padding: 20px;
	border-radius: 20px;
	border: 2px solid black;
	/* box-shadow: 0 0 0 2px white; */
	position: relative;
}


div.doubleButtonAlert {
	margin-top: 20px;
	width: 100%;
	height: 55px;
	text-align: center;
}

div.doubleButtonAlert button {
	margin: 0;
	margin-left: 10px;
	height: 100%;
	width: 150px;
}

@keyframes modal {
	from {
			opacity: 0;
			transform: translate3d(0, -60px, 0);
	}to{
			opacity: 1;
			transform: translate3d(0, 0, 0);
	}
}

.modal-container.mostrar .modal {
	animation: modal .3s;
}

/* button.close {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 5px solid black;
	box-shadow: 0 0 0 2px white;
	position: absolute;
	top: -25px;
	right: -25px;
	cursor: pointer;
} */

.modal-container.mostrar {
	display: flex;
}

h2 {
	text-align: left;
}