div.doubleButton {
	text-align: center;
	margin: 20px 0px;
}

div.doubleButton button {
	height: 40px;
	border: none;
	background-color: teal;
	padding: 0 15px;
	border: 3px solid black;
	font-weight: bold;
	
}

div.doubleButton button.one {
	border-radius: 30px 0 0 30px;
	border-right: none;
	background-color: #F34605;
}

div.doubleButton button.two {
	border-radius: 0 30px 30px 0;
	border-left: none;
	background-color: #F34605;
}

.container div.main {
	padding-top: 24px;
}

.container hr {
	width: 100%;
}

.container div.main ul {
	display: grid;
	grid-template-columns: 1fr 1fr;/*PESQUISAR DEPOIS*/
	grid-gap: 24px;
	list-style: none;
}

.container div.main ul li {
	padding: 24px;
	border-radius: 30px;
	position: relative;
	background-color: rgba(255, 0, 0, .3);
}

button.check, button.edit, button.delete {
	background-color: transparent;
	position: absolute;
	right: 24px;
	top: 24px;
	border: 0;
	color: #a8a8b3;
}


.container ul li button.edit{
	right: 72px;
}

.container ul li button.delete {
	right: 48px;
}

button.check:hover {
	color: rgb(0, 255, 0);
}

button.delete:hover {
	color: rgb(255, 0, 0);
}

button.edit:hover {
	color: rgb(0, 0, 255);
}

.container ul li strong {
	display: block;
	margin-bottom: 16px;
	color: #41414d;
}

.container ul li p{
	color: #737380;
	line-height: 21px;
	font-size: 16px;
}

.container ul li p + strong{
margin-top: 32px;
}

/* ---------------------MODAL-------------------------------- */
.modal-container {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal {
	background: white;
	width: 60%;
	min-width: 300px;
	padding: 60px;
	border-radius: 20px;
	border: 10px solid black;
	box-shadow: 0 0 0 2px white;
	position: relative;
}

@keyframes modal {
	from {
			opacity: 0;
			transform: translate3d(0, -60px, 0);
	}to{
			opacity: 1;
			transform: translate3d(0, 0, 0);
	}
}

.modal-container.mostrar .modal {
	animation: modal .3s;

}

button.close {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 5px solid black;
	box-shadow: 0 0 0 2px white;
	position: absolute;
	top: -25px;
	right: -25px;
	cursor: pointer;
}

.modal-container.mostrar {
	display: flex;
}

h2 {
	text-align: left;
}