.modalAlert {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modalAlert.show {
    display: flex;
}

.button.error{
    width: 100px;
    color: black;
    background-color: whitesmoke;
    border: 2px solid black;
    box-shadow: 0 0 5px black;
    margin-top: 20px;
}

.boxAlert {
    width: 50vw;
    height: 30vh;
    background: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 0 20px black;
    z-index: 9999;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
}

