section.loginScreen{
  /* background-color: green; */
  width: 320px;
  height: 380px;
}

form {
  /* background-color: black; */
  width: 100%;
  height: 80%;
  text-align: center;
  padding-top: 30px;
}

h1.logon {
  text-transform: uppercase;
  margin: 10px 0px;
}

div.input {
  display: flex;
  width: 250px;
  height: 50px;  
  background-color: whitesmoke;
  margin: 40px auto;
  position: relative;
}

div.placeholder {
  height: 30px;
  font-size: 16pt;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 35px;
  transition: .3s;
  z-index: 1;
}

div.icon {
  width: 30px;
  height: 50px;
  bottom: 0;
  padding-top: 10px;
  position: absolute;
}

input.logon {
  width: 100%;
  height: 50px;
  padding: 5px;
  padding-left: 35px;
  right: 0;
  bottom: 0;
  border: none;
  font-size: 16pt;
  position: absolute;
  background-color: rgba(150, 1, 1, 0);
  z-index: 2;
  margin: 0;
  border-bottom: 3px solid #39ff14;
}

div.input input:focus ~ div.placeholder.focus{
  transition: .3s;
  top: -25px;
  color: #39ff14;
}

/* .logon-container div.painel-logon {
	z-index: -100;
	height: 100%;
	width: 100%;
	position: fixed;
}
.logon-container div.painel-logon img {
	position: absolute;
	width: 550px;
	bottom: 0;
	left: 0;
} */



/* ---------------------------------BUTTON---------------------------------------- */

button.login-button {
	border: none;
	width: 100%;
  display: block;
  position: relative;
  padding: 0.5em 2.2em;
  font-size: 25px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  outline: none;
  color: #39ff14;
  overflow: hidden;
}

button.login-button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 5px solid #39ff14;
}

button.login-button span::before {
  content: "";
  position: absolute;
  width: 8%;
  height: 500%;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all .5s;
}

button.login-button:hover span::before, button.login-button:focus span::before {
  transform: translate(-50%, -50%) rotate(45deg);
  width: 100%;
  background: #39ff14;
}

button.login-button:hover, button.login-button:focus {
  color: black;
}

@media only screen and (max-width: 400px) {
	.logon-container div.painel-logon img {
		width: 300px;
	}
}