div.newTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.lateralForm{
  width: 350px;
  height: 350px;
}

section.lateralForm form {
  width: 100%;
  height: 100%;
}

div.imageWallpaper{
  display: flex;
  width: 400px;
  height: 500px;
  padding-top: 100px;
}

div.imageWallpaper img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 850px) {
	div.imageWallpaper{
		display: none;
  }
  
  img.off850px{
    display: none;
  }
  div.newTask {
    justify-content: center;
  }

}